### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Manuels ignore list :>
SearchManager_Gachnang.py
UserManager_hashing_temp.py
Our_models.py
